html,  body{
    height:100%;
    width:100%;
    background: #F3F5FC; 
}

header{
    padding: 20px 0;
}

.caixa-header{
    position: relative;
}

h1{
    display: inline-block;
    width: 32px;
    height: 50px;
    margin-left: 44px;
}

.conteudo{
    width: 60%;
    height: auto;
    text-align: center;
    float: left;
}

textarea{
    background: #F3F5FC;
    border: none;
    height: 300px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    font-size: 32px;
    font-family: Inter;
    resize: none;
}

textarea:focus{
    outline: none;
}

#area-texto{
    width: auto;
    height: 65vh;
    margin-left: auto;
    margin-right: auto;
} 

::placeholder{
    color: #0A3871;    
}

#instrucoes p{
    display: inline-block;
    text-align: center;
    font-size: 12px;
    font-family: Inter;
    font-weight: 400;
    opacity: 0.8;
    color:#495057;
    margin: 0 0 1em 0; 
} 

#instrucoes{
    display: block;
    text-align: left;
    width: auto;
}

.botoes{
    display: inline-block;
    text-align: center;     
}

.botoes li{
    display: inline-block;
    text-align: center;
    margin: 0 0 0 15px;
} 

.criptografar{
    box-sizing: border-box;
    border: none;
    border-radius: 24px;
    width: 328px;
    height: 67px;
    padding: 24px;
    cursor: pointer;
    color: #FFFFFF;
    font-family: Inter;
    font-weight: 400;
    font-size: 18px;
    line-height: 19px;
    height: auto;
    background-color: #0A3871;
}

.criptografar:hover{
    transform: scale(1.05);
    border: 2.5px solid #000000;
    transition: 400ms;
}

.criptografar:active{
    background-color: #FFFFFF;
    color: #0A3871;
    border: 1px solid #0A3871;    
}

.descriptografar{
    border: 1px solid #0A3871;
    box-sizing: border-box;
    border-radius: 24px;
    width: 328px;
    height: 67px;
    padding: 24px;
    cursor: pointer;
    color: #0A3871;
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    height: auto;
    background-color: #D8DFE8;
}

.descriptografar:hover{
    transform: scale(1.05);
    border: 2.5px solid #000000;
    transition: 400ms;
}

.descriptografar:active{
    background-color: #FFFFFF;
    color: #0A3871; 
    border: 1px solid #0A3871;  
}

.resultado{
    float: right;
    width: 35%;    
    left: 1000px;
    top: 10px;
    margin-right: 40px;
} 

.conteudo-resultado img{
    display: block;
    align-items: center;   
    margin: auto;
    width: 55%;
} 

#img-resultado{
    width: 20%;
    position: absolute; 
    transform: translate(-50%,-50%); 
    top: 40%; left: 80%;
}
.conteudo-resultado{
    width: 100%;
    height: 75vh; 
    vertical-align: middle;
    background-color: #FFFFFF;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px; 
} 

 #titulo-resultado{
    width: 500px;
    position: absolute; 
    transform: translate(-50%,-50%); 
    top: 60%; left: 80%; 
    font-family: Inter;
    font-weight: 700;
    font-size: 24px;
    line-height: 28.8px;
    text-align: center;
    align-items: center;
    color: #343A40;
    flex: none;   
} 

#info-resultado{ 
    width: 500px;
    position: absolute; 
    transform: translate(-50%,-50%); 
    top: 64%; left: 80%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #495057;
}

@media screen and (max-width: 1152px) {
    .conteudo{
        width: 100%;
        height: 80%; 
        text-align: center;
        padding-bottom: 20px;
    }

    textarea{
        height: 60vh;
        width: 600px;
    }

    #area-texto{
        height: 80%;
    } 

    .info-texto{
        height: 100%;
    } 

     .resultado{
        width: 100%;
        height: 30vh;
        margin-right: auto;
        margin-left: auto; 
    }  

    .conteudo-resultado{
        width: 100%;
        height: 29vh;
        display: block;    
        position: absolute;
    }  

    .conteudo-resultado img{
        display: none;
    }

    #titulo-resultado{
        width: 500px;
        position: absolute; 
        transform: translate(-50%,-50%); 
        top: 20%; left: 50%; 
    } 

    #info-resultado{
        width: 500px;
        position: absolute; 
        transform: translate(-50%,-50%); 
        margin-top: 20px;
        top: 20%; left: 50%; 
    } 
}

.remover-texto{
    display: none; 
}

.resultado-texto{
    width: 300px;
    position: absolute; 
    transform: translate(-50%,-50%); 
    top: 52%; left: 80%; 
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 150%;
    text-align: center;
    color: #495057;
    overflow-y: auto;
    overflow-wrap: break-word;
    height: 63vh; 
    vertical-align: middle;
}
