body{
    background: #F3F5FC;
}
header{
    padding: 20px 0;
}
.caixa-header{
    position: relative;
    width: 940px;
}

h1{
    display: inline-block;
    width: 32px;
    height: 50px;
    margin-left: 44px;
}

.conteudo{
    text-align: center;
    
}

textarea{
    background: #F3F5FC;
    border: none;
    position: absolute;
    left: 240px;
    width: 50%;
    height: 45%;
    top: 168px;
    font-size: 32px;
    font-family: Inter;
    resize: none;
}

textarea:focus{
    outline: none;
}

::placeholder{
    color: #0A3871;    
}

.info-texto {
    display: inline-block;
    position: absolute;
    top: 75%;
    left: 200px;
    padding:15px;
    width: 90%;
}

.info-texto p{
    display: inline-block;
    text-align: center;
    font-size: 12px;
    font-family: Inter;
    font-weight: 400;
    opacity: 0.8;
    color:#495057;
    margin: 0 0 1em 0;
}

.info-texto {
    width: 940px;
    margin-left: auto;
    margin-right: auto;
} 

.botoes{
    display: inline-block;
    text-align: center;
}

.botoes li{
    display: inline-block;
    text-align: center;
    margin: 0 0 0 15px;
} 

.criptografar{
    box-sizing: border-box;
    border: none;
    border-radius: 24px;
    width: 328px;
    height: 67px;
    padding: 24px;
    cursor: pointer;
    color: #FFFFFF;
    font-family: Inter;
    font-weight: 400;
    font-size: 18px;
    line-height: 19px;
    height: auto;
    background-color: #0A3871;
}

.criptografar:hover{
    transform: scale(1.05);
    border: 2.5px solid #000000;
    transition: 400ms;
}

.criptografar:active{
    background-color: #FFFFFF;
    color: #0A3871;
    border: 1px solid #0A3871;    
}

.descriptografar{
    border: 1px solid #0A3871;
    box-sizing: border-box;
    border-radius: 24px;
    width: 328px;
    height: 67px;
    padding: 24px;
    cursor: pointer;
    color: #0A3871;
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    height: auto;
    background-color: #D8DFE8;
}

.descriptografar:hover{
    transform: scale(1.05);
    border: 2.5px solid #000000;
    transition: 400ms;
}

.descriptografar:active{
    background-color: #FFFFFF;
    color: #0A3871; 
    border: 1px solid #0A3871;  
}
