body{
    background: #F3F5FC;
}

header{
    padding: 20px 0;
}

.caixa-header{
    position: relative;
}

h1{
    display: inline-block;
    width: 32px;
    height: 50px;
    margin-left: 44px;
}

.conteudo{
    width: 60%;
    text-align: center;
    float: left;
    height: 944px
}

textarea{
    background: #F3F5FC;
    border: none;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    font-size: 32px;
    font-family: Inter;
    resize: none;
}

textarea:focus{
    outline: none;
}

#area-texto{
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
} 

::placeholder{
    color: #0A3871;    
}

/* .info-texto {
    width: 40%;
   
}  */

.info-texto p{
    display: inline-block;
    font-size: 12px;
    font-family: Inter;
    font-weight: 400;
    opacity: 0.8;
    color:#495057;
    margin: 0 0 1em 0; 
} 

.instrucoes{
    display: block;
    text-align: left;
}

.botoes{
    display: inline-block;
    text-align: center; 
    
}

.botoes li{
    display: inline-block;
    text-align: center;
    margin: 0 0 0 15px;
} 

.criptografar{
    box-sizing: border-box;
    border: none;
    border-radius: 24px;
    width: 328px;
    height: 67px;
    padding: 24px;
    cursor: pointer;
    color: #FFFFFF;
    font-family: Inter;
    font-weight: 400;
    font-size: 18px;
    line-height: 19px;
    height: auto;
    background-color: #0A3871;
}

.criptografar:hover{
    transform: scale(1.05);
    border: 2.5px solid #000000;
    transition: 400ms;
}

.criptografar:active{
    background-color: #FFFFFF;
    color: #0A3871;
    border: 1px solid #0A3871;    
}

.descriptografar{
    border: 1px solid #0A3871;
    box-sizing: border-box;
    border-radius: 24px;
    width: 328px;
    height: 67px;
    padding: 24px;
    cursor: pointer;
    color: #0A3871;
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    height: auto;
    background-color: #D8DFE8;
}

.descriptografar:hover{
    transform: scale(1.05);
    border: 2.5px solid #000000;
    transition: 400ms;
}

.descriptografar:active{
    background-color: #FFFFFF;
    color: #0A3871; 
    border: 1px solid #0A3871;  
}

.resultado{
    float: right;
    width: 35%;
    height: 944px;
    left: 1000px;
    top: 40px;
    background-color: #FFFFFF;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
    margin-right: 10px;      
}

/* .resultado img{
    display: block;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    
} */

 #titulo-resultado{
    font-family: Inter;
    font-weight: 700;
    font-size: 24px;
    line-height: 28.8px;
    text-align: center;
    align-items: center;
    color: #343A40;
    flex: none;
   
} 

.conteudo-resultado{
    top: 50%;
    width: 35%;
    position: absolute;
    align-items: center;
    margin-left: auto;
    margin-right: auto; 
}
 
.conteudo-resultado p{
    text-align: center;
}
/* .img-resultado{
    display: inline-block;
    text-align: center;
} */